extends layout

block content
  div Welcome to the index page! Try visiting some of these different scenes!
    div
      a(href="./Outdoors") Outdoors
    div
      a(href="./ArtGallery") ArtGallery
    div
      a(href="./UnionSquare") UnionSquare
