html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

#blocker {

  position: absolute;

  width: 100%;
  height: 120%;

  background-color: rgba(0,0,0,0.8);

}

#controls {

  white-space: pre;

}

#instructions {

  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;

  cursor: pointer;

}

#localVideo, #remotesVideos > video {
  height: 50px;
  width: 50px;
}

#webcamWarning {
  visibility: hidden;
  font-size: 20px;
  color: red;
}

#chatBox{
  border: 2px solid;
  border-color: white;
  border-radius: 10px;
  background: no-repeat scroll 0% 0% transparent;
  background-color: #D3D3D3;
  width: 40%;
  overflow: auto;
  min-height: 10%;
  position: absolute;
  bottom: 5%;
  opacity: 0.75;
}

#chatBox:hover{
  opacity: 1.0;
}

#chatMessage {
  border: 2px solid;
  border-color: white;
  border-radius: 10px;
  background: no-repeat scroll 0% 0% transparent;
  background-color: #A9A9A9;
  height: 2%;
  text-align: left;
  margin-top:2px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  position: relative;
}

#chatInput {
  border: 2px solid;
  border-color: white;
  border-radius: 2px;
  background: no-repeat scroll 0% 0% transparent;
  background-color: #A9A9A9;
  width: 80%;
  height: 20px;
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  float: left;
}

#chatInputButton {
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
  background: no-repeat scroll 0% 0% transparent;
  background-color: #A9A9A9;
  width: 10%;
  height: 25px;
  position: relative;
  margin-right: 2%;
  margin-top: 5%;
  float: right;
}
