html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

#blocker {

  position: absolute;

  width: 100%;
  height: 120%;

  background-color: rgba(0,0,0,0.8);

}

#controls {

  white-space: pre;

}

#instructions {

  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;

  cursor: pointer;

}

#localVideo, #remotesVideos > video {
  height: 50px;
  width: 50px;
}

#webcamWarning {
  visibility: hidden;
  font-size: 20px;
  color: red;
}
