extends ./layout

block content
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='./') Home
          li.active
            a(href='./About') About
          li
            a(href='./Problems') Problems
          li
            a(href='./Contact') Contact
        h3.text-muted Real Faces
      .jumbotron
        h2 About Us
        p.lead
          | Real Faces is an
          a(href='https://github.com/realTalkTeam/realTalk')  open source project,
          |  created by
          a(href='https://github.com/roryc89') Rory Campbell
          |  and
          a(href='https://github.com/davemun') Dave Mun
        //- p
        //-   a.btn.btn-lg.btn-success(href='#', role='button') Sign up today
      .row.marketing
        .col-lg-12
          p Real faces was built with two goals in mind.
            |  To counter some of the difficulties we had found in large group video conferences
            | and to explore new possibilities in combining WebRTC and WebGL technologies.
          p
            | If you would like to contribute to the project, please make a pull request to our
            a(href='https://github.com/realTalkTeam/realTalk') GitHub repo.
            |  Requests for new features
            |  or bug fixes are also welcome.
          p
            | Many thanks to the various open source technologies that helped us to build this project
            |  including
            a(href='https://simplewebrtc.com/')
              |  SimpleWebRTC,
            a(href='http://www.scenevr.com/')  SceneVR
            |  for design inspiration and the floor tiling,
            |  the stunning selection of skyboxes from
            a(href='http://www.humus.name/index.php?page=3D&&start=0') Humus,
            |  deathcap's minecraft style
            a(href='https://github.com/deathcap/avatar')  avatars,
            |  and their
            a(href='https://github.com/flyswatter/voxel-walk')  voxel-walk,
            |  animation.
            |  Also thanks to the great materials, tutorials and examples provided by
            a(href='http://mrdoob.com/')
              | MrDoob,
            a(href='https://github.com/stemkoski/')
              | Stemkoski
            | and
            a(href='http://jetienne.com/')
              | Jerome Etienne
       .footer
        p
          | <br> <br> Built by
          a(href='https://github.com/davemun') Dave Mun
          |  and
          a(href='https://github.com/roryc89') Rory Campbell

