extends ./layout

block content
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='./') Home
          li
            a(href='./About') About
          li
            a(href='./Problems') Problems
          li.active
            a(href='./Contact') Contact
        h3.text-muted Real Faces
        .jumbotron
          h2 Contact
        .col-lg-6
          p.lead
            | Rory:
          p.lead
            a(href='mailto:roryc89@gmail.com', target="_blank")  roryc89@gmail.com <br>
            a(href='https://www.linkedin.com/in/roryjcampbell', target="_blank") LinkedIn <br>
            a(href='https://github.com/roryc89', target="_blank") GitHub
        .col-lg-6
          p.lead
            | Dave:
          p.lead
            a(href='mailto:mun.dave@gmail.com', target="_blank")  mun.dave@gmail.com <br>
            a(href='https://www.linkedin.com/in/davemun', target="_blank") LinkedIn <br>
            a(href='https://github.com/davemun', target="_blank") GitHub

