extends ./layout

block content
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='./') Home
          li
            a(href='./About') About
          li
            a(href='./Problems') Problems
          li.active
            a(href='./Contact') Contact
        h3.text-muted Real Faces
      .jumbotron
        h2 Contact
        p.lead
          | Rory:
          a(href='mailto:roryc89@gmail.com')  roryc89@gmail.com
        p.lead
          |  Dave:
          a(href='mailto:mun.dave@gmail.com') mun.dave@gmail.com

