extends ./layout

block content
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='./') Home
          li
            a(href='./About') About
          li
            a(href='./Problems') Problems
          li.active
            a(href='./Contact') Contact
        h3.text-muted Real Faces
        .jumbotron
          h2 Contact
        .col-lg-6
          p.lead
            | Rory:
          p.lead
            a(href='mailto:roryc89@gmail.com')  roryc89@gmail.com <br>
            a(href='https://www.linkedin.com/in/roryjcampbell') LinkedIn <br>
            a(href='https://github.com/roryc89') GitHub
        .col-lg-6
          p.lead
            | Dave:
          p.lead
            a(href='mailto:dave.mun@gmail.com')  dave.mun@gmail.com <br>
            a(href='https://www.linkedin.com/in/davemun') LinkedIn <br>
            a(href='https://github.com/davemun') GitHub

