extends UnionSquareLayout

block content
  div(id='game')
  div(id='blocker')
    h3(id='instructions')
        span(style="font-size:40px")='Welcome to Real Faces'
        |<br>
        |To work properly the website requires access to your webcam and to disable your cursor.<br />
        |When the browser asks if you want to allow access (at the top of the window), click allow. <br />
        |To move use W,A,S,D or the arrows. To look around use your mouse. Press Esc to pause. <br />
        |Click to start!

  video(id='localVideo')
  span(id='remotesVideos')
  div(id='roomURL')
    | Your room URL: Not yet defined
  div(id='controls')='Pause/Help: Esc        Move:W,A,S,D / Arrows       Jump:Space         Rotate:Mouse         Chatbox:T, then click once to leave'
  //- div(id='webcamWarning') Looks like you haven't enabled your webcam! Please re-enable it by first pressing "Esc" to pause, then press "P" on your keyboard, and finally, click "Accept" ! You will not be able to see other videos until you do so!
  div(id='chatBox')
    input(id="chatInput")
    button(id="chatInputButton") Send!
